{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> NO ADS</p>
        <p class="card-text"> NO RULES</p>
        <p class="card-text"> NO REGISTRATION</p>
        <p class="card-text"> NON-PROFITABLE</p>
        <p class="card-text"> No Comments</p>
        <p class="card-text"> No FAME</p>
        <p class="card-text"> No SHAME</p>

        <a href="hksamuel.github.io/freeforum/post/"
           class="btn btn-danger">+Post!</a>
    </div>
</div>
</div>

{% endblock sidebar %}